.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto; /* centraliza horizontalmente */
}

.banner.swiper {
  height: auto;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 40px;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  display: block;
}

.banner .swiper-wrapper {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.banner .swiper-slide {
  height: auto;
  max-height: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner img {
  max-height: 400px;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .banner img {
    max-height: 250px;
  }
}

